<launch>
    <arg name="robot" default="puddles" doc="Name of the vehicle" />

    <node pkg="riptide_controllers" type="controller.py" name="controller" output="screen" />
    <node pkg="riptide_controllers" type="thruster_solver.py" name="thruster_solver" output="screen">
        <param name="vehicle_config" value="$(find riptide_descriptions)/config/$(arg robot).yaml" />
    </node>
</launch>